@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$black: rgb(30,31,31);
$white: rgb(237,242,244);
$blue: rgb(37,56,86);
$red: rgb(217,4,41);

$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$font-mont: 'Montserrat';

body::-webkit-scrollbar{
    width: 12px;
    background-color: $black;
}

body::-webkit-scrollbar-thumb{
    background: $red;
}

@mixin bg-config{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin title-section{
    font-size: 4rem;
    font-weight: map-get($font-weights, light);
    text-transform: capitalize;
    text-align: center;
}

