// Header
#nav-bar-container{
    background: $black;
	li{
        transition: .3s;
        &:hover{
            background: $red;
			filter: drop-shadow(7px 7px orchid);
        }
        a{
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    .navbar-toggler{
        background: $white;
    }
}

.header-filler{
    height: 10vh;
    background: none;
}



// Contenedor principal
footer {
	width: 100%;
	height: auto;
	background: $white;
	color: $black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// Contenedor de las info
.footer__main__container {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	column-gap: 25px;
    align-items: center;
    justify-items: center;
}

// Contactanos
.footer__contact__container {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	flex-direction: column;
	align-content: stretch;
	align-items: center;
	h2 {
		color: $blue;
	}
}

// Astro Burgers logo
.logo-footer {
	width: 300px;
}

// Contactanos -> Informacion
.contact__data {
	display: flex;
	align-items: center;
	padding: 10px;
    font-size: 1.15rem;
    .icon{
        font-size: 1.7rem;
    }
	.fa-envelope{
		color: $black;
	}
	.fa-whatsapp{
		color: #01b670;
	}
	.fa-map-marker-alt{
		color: $red
	}
	a {
		text-decoration: none;
		padding-left: 15px;
		color: $blue;
	}
    p {
        text-decoration: none;
        padding-left: 15px;
        color: $blue;
    }
}

// Contenedor de las redes sociales
.footer__social_media__container {
	display: flex;
	flex-direction: column;
}

// Redes sociales (Info)
.social__media__data {
	display: flex;
	width: 100%;
	align-items: center;
	margin: 1vh 0;
	a {
		text-decoration: none;
		color: $black;
		font-size: 20px;
		font-weight: 400;
	}
}

// Estilos de los iconos
#social__link {
	width: 40px;
	height: 40px;
	margin-right: 2vh;
	padding: 0.5rem;
	color: $white;
	background: $blue;
	border-radius: 50px;
}

// Copyright
.copy {
	display: flex;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat';
	justify-content: center;
	font-size: 12px;
	font-weight: 300;
	padding: 7px 0 7px 0;
	background: $black;
	color: $white;
	a{
		color: $black;
		background: gold;
		text-decoration: none;
		font-weight: map-get($font-weights, 'bold');
		padding: 0 5px;
		@include transition-ease;
		
	}
}

@media screen and (max-width: 1024px) and (min-width: 1025px) {
	footer {
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-around;
		padding: 0 2rem;
	}
	// Contenedor principal del footer
	.footer__main__container {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		height: auto;
		img{
			width: 13rem;
		}
	}

	// Contactanos contendor
	.footer__contact__data {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-content: center;
		margin-top: 2vh;
		width: 80%;
		h2 {
			text-align: center;
            font-size: 2.5rem;
		}
	}
	
	.contact__data {
		display: flex;
		justify-content: center;
        a, p{
            font-size: 1.2rem;
        }
	}

	.footer__social_media__container {
		display: flex;
		flex-flow: column;
		.social__media__data{
			width: 100%;
			a{
				font-size: 1rem;
			}
		}
	}

    // #footer__mobile{
    //     width: 100%;
    //     display: flex;
    //     justify-content: space-evenly;
    //     .social__media__data__mobile{
	// 		margin: auto;
    //         #social__link{
    //             width: 4rem;
    //             height: 4rem;
	// 			margin: auto;
	// 			padding: 1rem;
	// 		}
	// 		a, p{
	// 			font-size: 1rem;
	// 		}
    //     }
    // }
	
	.footer__mobile{display: none;}
}

@media screen and (max-width: 768px) {
	.logo-footer, .footer__map__container, .social__media__data a {display: none;}
		
    .social__media__data img {
			width: 5vh;
		}

	footer {
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-around;
	}
	// Contenedor principal del footer
	.footer__main__container {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		height: auto;
	}
	// Contactanos contendor
	.footer__contact__data {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-content: center;
		margin-top: 2vh;
		h2 {
			text-align: center;
            font-size: 3rem;
            border-bottom: .2rem solid $blue;
		}
	}

	.contact__data {
		display: flex;
		justify-content: center;
        a, p{
            font-size: 1.7rem;
        }
        img{width: 3rem;}
	}
	.footer__social_media__container {
		display: flex;
		flex-flow: row;
	}

    #footer__mobile{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .social__media__data__mobile{
			margin: auto;
            #social__link{
                width: 4rem;
                height: 4rem;
				margin: auto;
				padding: 1rem;
			}
			a, p{
				font-size: 1rem;
			}
        }
    }
    .copy {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
	.logo-footer, .footer__map__container, .social__media__data a {display: none;}
	footer {
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-around;
		margin: auto;
	}

		.footer__main__container {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: space-between;
			height: auto;
		}
		.footer__contact__data {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-content: center;
			margin-top: 2vh;
			h2 {
				text-align: center;
				font-size: 3rem;
				border-bottom: .2rem solid $blue;
			}
		}
		.contact__data {
			display: flex;
			justify-content: center;
			a, p{
				font-size: 1.4rem;
			}
			img{width: 3rem;}
		}
		.footer__social_media__container {
			display: flex;
			flex-flow: row;
		}
		
		#footer__mobile{
			.social__media__data__mobile{
				padding: 0;
				margin: auto;
				a, p{font-size: .8rem;}
			}
		}
		.copy {
			font-size: 1rem;
		}
	}