.active{background: $red;}

.menu__main__container{
    width: 100%;
    background: $black;
    .menu__title {
        h1{
            font-family: $font-mont;
            font-style: normal;
            font-weight: map-get($font-weights, 'light');
            font-size: 7.5rem;
            color: $white;
            text-align: center;
        }
    }
    
    .menu__food__container{
        display: flex;
        width: 100%;
        padding: 0 0 5% 0;
        justify-content: space-evenly;
        margin: auto;
        flex-wrap: wrap;
        
        .menu__container{
            // border: .15rem dashed $white;
            text-align: center;
        }

        .menu__section__2{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        .__title{
            display: flex;
            justify-content: center;
            font-weight: normal;
            color: $black;
            background: $white;
            font-size: 375%;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            font-family: $font-mont;
            padding: 1% 0;
            margin: auto;
        }
        .__container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            width: 100%;
            padding: .7rem 0;
            // margin: 1% 0;
            transition: all .3s ease-in;
            // border-radius: 2.7rem;
            justify-items: center;
            font-family: $font-mont;

            // No sacar por si me arrepiento
            // &:hover{
            //     animation: shake .7s linear both;
            //     background: $black;
            // }
            // @keyframes shake{
            //     0%{transform: translateX(-15px);}
            //     25%{transform: translateX(15px);}
            //     50%{transform: translateX(-7px);}
            //     75%{transform: translateX(7px);}
            //     100%{transform: translateX(0px);}
            // }

            .__content{
                display: flex;
                flex-flow: column;
                width: 90%;
                justify-content: center;
                grid-column: 1/4;
                text-transform: uppercase;
                text-align: left;
                h2{
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: map-get($font-weights, 'bold');
                    color: $white;
                }
                p{
                    // font-family: 'Poppins';
                    font-size: .8rem;
                    font-style: normal;
                    font-weight: map-get($font-weights, 'light');
                    padding: 0;
                    color: $white;
                }
            }
            .__price{
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-style: normal;
                    font-weight: map-get($font-weights, 'normal');
                    font-size: 1.5rem;
                    color: $white;
                }
            }
        }
    }
}

@media screen and (min-width: 1201px){
    // Disponible en la Tercer Engrega
}

@media screen and (max-width: 1200px){
    // Disponible en la Tercer Engrega
}

@media screen and (max-width: 1024px){
    // Disponible en la Tercer Engrega
}


@media screen and (max-width: 768px){
    .menu__main__container{
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    .burger__container{
        width: 40%;
    }
}

@media screen and (max-width: 480px){
    .menu__main__container{
        margin-top: 1.5rem;
        .menu__title{
            h1{
                font-size: 5rem;
            }
        }
        .menu__food__container{
            .__title{
                display: flex;
                justify-content: center;
                font-size: 2.5rem;
                width: 100%;
            }
        }
    }
}