.active {
  background: var(--red);
}

.about__main__container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__main__container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
}

.about__main__container section .about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  height: auto;
}

.about__main__container section .about__content .pictures__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 45rem;
  row-gap: 1.2%;
  -webkit-column-gap: 1.5%;
          column-gap: 1.5%;
}

.about__main__container section .about__content .pictures__container .picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__main__container section .about__content .pictures__container .picture-1 {
  background-image: url(../assets/About_Us/gallery-1.jpg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.about__main__container section .about__content .pictures__container .picture-2 {
  background-image: url(../assets/About_Us/gallery-2.jpg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.about__main__container section .about__content .pictures__container .picture-3 {
  background-image: url(../assets/About_Us/gallery-3.jpg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.about__main__container section .about__content .about__flex__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 3% 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
}

.about__main__container section .about__content .about__flex__text #dropdownMenuButton {
  text-align: start;
  text-transform: capitalize;
  font-weight: 400;
  height: 5vh;
}

.about__main__container section .about__content .about__flex__text .dropdown {
  border-radius: 5px;
  margin: 1vh 0;
}

.about__main__container section .about__content .about__flex__text .dropdown .dropdown-toggle {
  width: 100%;
}

.about__main__container section .about__content .about__flex__text .dropdown .dropdown-toggle:nth-child(odd) {
  background: var(--black);
}

.about__main__container section .about__content .about__flex__text .dropdown .dropdown-toggle:nth-child(even) {
  background: var(--red);
}

.about__main__container .section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4%;
}

.about__main__container .section-2 .card-img-top {
  width: 7rem;
  height: 7rem;
}

@media screen and (max-width: 992px) {
  .about__main__container #section__1__container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "galeria" "texto";
    width: 100%;
    height: auto;
  }
  .about__main__container #section__1__container .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    height: auto;
  }
  .about__main__container #section__1__container .about__content .pictures__container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: galeria;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .about__main__container #section__1__container .about__content .pictures__container img {
    width: 100%;
    height: auto;
  }
  .about__main__container #section__1__container .about__content .pictures__container .picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about__main__container #section__1__container .about__content .pictures__container .picture-1 {
    background-image: url(../../assets/About_Us/gallery-1.jpg);
  }
  .about__main__container #section__1__container .about__content .pictures__container .picture-2 {
    background-image: url(../../assets/About_Us/gallery-2.jpg);
  }
  .about__main__container #section__1__container .about__content .pictures__container .picture-3 {
    background-image: url(../../assets/About_Us/gallery-3.jpg);
  }
  .about__main__container #section__1__container .about__content .about__flex__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: texto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about__main__container #section__1__container .about__content .about__flex__text .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__main__container #section__1__container .about__content .about__flex__text .dropdown-menu p {
    font-size: 1rem;
  }
  .about__main__container #section__1__container .about__content .about__flex__text .dropdown #dropdownMenuButton {
    font-size: 1.7rem;
  }
  .about__main__container .section-2 {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  #section__1__container .about__content .about__flex__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #section__1__container .about__content .about__flex__text .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section__1__container .about__content .about__flex__text .dropdown-menu p {
    font-size: .5rem;
  }
  #section__1__container .about__content .about__flex__text .dropdown #dropdownMenuButton span {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=about.css.map */